In [4]:
books = ["Tale of two cities","Harry potter","Lord od the rings"]
nums=range(100)
for hi in nums:
    print (hi)
for b in books:
    print(b)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
Tale of two cities
Harry potter
Lord od the rings

In [6]:
books

['Tale of two cities', 'Harry potter', 'Lord od the rings']

for n in nums
list n

In [9]:
for n in nums
list n

SyntaxError: invalid syntax (<ipython-input-9-2147fea17984>, line 1)

In [16]:
for n in nums
if: n%2 == False
    print("Even")
else:print("Odd")

SyntaxError: invalid syntax (<ipython-input-16-0bc98756cf48>, line 1)

In [33]:
nums = range(100)
for ni in nums:
    if ni%2 == 0:
        print("Even")
    else:
        print("Odd")

Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd

In [34]:
def isEven(n):
    return n%2==0
isEven(8)

True

In [37]:
for n in nums:
    if isEven(n):
        print(n)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98